/*styles/users.less generates resources/css/users.css if you want to add some changes - edit less*/
div.user {
  padding: 4px 0;
  position: relative;
}
div.login {
  float: right;
}
#userboard {
  display: none;
}
